<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= typeof title !== 'undefined' ? title : 'AllScouts' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="AllScouts Team">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/img/FAVICON.svg">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/css/slick.css">
  <link rel="stylesheet" href="/assets/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/assets/css/animated-headline.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<header class="cs_site_header cs_style_1 cs_color_1 cs_primary_bg cs_site_header_full_width cs_sticky_header">
  <div class="cs_main_header">
    <div class="container-fluid">
      <div class="cs_main_header_in">
        
        <!-- Logo -->
        <div class="cs_main_header_left">
          <a class="cs_site_branding" href="/">
            <img src="/assets/img/logo.png" alt="AllScouts Logo">
          </a>
        </div>

        <!-- Navigation Links -->
        <div class="cs_main_header_center">
          <div class="cs_nav cs_medium">
            <ul class="cs_nav_list">
              <li><a href="/">Home</a></li>
              <li><a href="/shop">Shop</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>

        <!-- Right Action Icons -->
        <div class="cs_main_header_right">
          <div class="cs_header_action">
            
            <!-- Search -->
            <button type="button" class="cs_action_icon cs_header_search_btn">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>

            <% if (!user) { %>
  <!-- Login Button Before Login -->
  <a href="/login" class="cs_login_btn">
    <span>Login</span>
  </a>
<% } else { %>
  <!-- After Login: Profile + Wishlist + Cart -->
  <a href="/profile" class="cs_action_icon" title="Profile">
    <i class="fa-regular fa-circle-user"></i>
  </a>
  <a href="/wishlist" class="cs_action_icon" title="Wishlist">
    <i class="fa-regular fa-heart"></i>
  </a>
  <a href="/cart" class="cs_action_icon" title="Cart">
    <i class="fa-solid fa-cart-shopping"></i>
  </a>
<% } %>


          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Search Dropdown -->
  <div class="cs_header_search_wrap">
    <div class="container">
      <div class="cs_header_search_in">
        <div class="cs_hero_search_heading">
          <h3>What are you looking for?</h3>
          <button class="cs_header_search_close" type="button">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <form action="/search" class="cs_header_search_form">
          <input type="text" name="q" placeholder="Search...">
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</header>

<!-- Space below header -->
<div class="cs_height_140nav cs_height_lg_80"></div>
